@import url(//db.onlinewebfonts.com/c/19d93ed94fcde59d609dd56bb0f1e9f0?family=SF+UI+Display);

body {
  font-family: 'SF UI Display';
}

.Polaris-Card {
  border-radius: 5px;
}

.Polaris-Button.Polaris-Button--newDesignLanguage {
  background: #008060;
  color: #fff;
  border: 1px solid #008060;
}

.Polaris-Button.Polaris-Button--newDesignLanguage:hover {
  background: #015f48;
  border: 1px solid #015f48;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.flex-row.media {
  align-items: stretch;
}

.movie-card {
  width: 190px;
  margin: 0 1rem 2rem 0;
}

.movie-card.media {
  width: 250px;
}

.movie-card.media .Polaris-Card {
  height: 100%;
}

.nominations .Polaris-Button.Polaris-Button--newDesignLanguage,
.error-banner .Polaris-Button.Polaris-Button--newDesignLanguage {
  background: none;
  border: none;
}

.nominations .Polaris-Button.Polaris-Button--newDesignLanguage:hover,
.error-banner .Polaris-Button.Polaris-Button--newDesignLanguage {
  background: none;
  border: none;
}

.error-banner {
  margin-bottom: 4rem;
}
